<div class="page-header">
  <%= link_to (' <i class="fa fa-reply"></i>').html_safe, :back, class: 'btn btn-default' %>
     <%= link_to (' <i class="fa fa-info-circle"></i>').html_safe,@product, class: 'btn btn-primary' %>
     <h1>Editing product</h1>
</div>

<%= render 'form' %>
